.loginRedirect {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 2rem;
  font-size: 2rem;
  height: 100vh;
  color: #000000c9;
  .loginText {
    a {
      color: #000000c9;
      &:hover {
        color: rgb(1, 60, 143);
      }
    }
  }
}
